ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: grey;
}

ul li {
  display: block;
  position: relative;
  float: left;
  background: grey;
}
li ul {
  display: none;
}
ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}

li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li {
  float: none;
}

ul ul ul {
  left: 100%;
  top: 0;
}
